<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="3000" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="long" type="java.lang.Long"/>
        <typeAlias alias="str" type="java.lang.String"/>
        <typeAlias alias="int" type="java.lang.Integer"/>
        <typeAlias alias="map" type="java.util.Map"/>
        <typeAlias alias="date" type="java.util.Date"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/mail.xml"/>
    </mappers>
</configuration>